
* {
    margin: 0px;
    padding: 0px;
}

.color {
    color: red;
}

body {
    position: absolute;
    min-height: 100%;
}


#spanName, #spanClave {
    color: red;
}

#msgForm {
    border:1px solid red;
    background-color:beige;
    display: none;
}

#contenedor {
    margin : 0px auto;
    text-align : left;
}



ul {
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
}

.menu li li a {
    background-color: coral;
    color: white;
}

.menu li a:hover {
    background-color: white;
    color: black;
}

.menu > li {

    float: left;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}

.menu li:hover > ul {
    display: block;
}

/*un tercer nivel  y sucesivos */
.menu li ul li {
    position: relative;
}

.menu li ul li ul {
    right: -100px;
    top: -2px;
}

footer {
    clear: both;
    padding: 10px;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    position: static;
}

footer p {
    margin-top: 10px;
}

#login {
    float: right;
    padding-right: 50px;
}

#cerrar_sesion {
    float: right;
    padding-right: 50px;
}


label{
    display: block;
    float: center;
}


button p{
    color: #fff;
}


span{
    color: red;
}


.aviso{
    font-size: 13px;
    color: #0e0e0e;
}



.formulario h1{
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px;
    color: coral;
}

footer p {
    color: white;
}

.formulario h3{
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p{
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
}


.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
}


@media (min-width:320px)  {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body{
        height: 100%;
        width: 100%;
    }
    #formulario {
        margin-top: 20%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    nav {
        position: fixed;
        margin: 0px auto;
        width: 100%;
        height: 58px;
        background-color: coral;
    }

    input{
        background-color: #fbfbfb;
        width: 95%;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea{
        background-color: #fbfbfb;
        width: 95%;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    button{
        width: 100%;
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: coral;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
        cursor: pointer;
    }

}
@media (min-width:480px)  {
    nav {
        position: static;
        margin: 0px auto;
        width: 100%;
        height: 58px;
        background-color: coral;
    }

    #formulario {
        margin: auto;
    }


    input{
        background-color: #fbfbfb;
        width: 95%;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea{
        background-color: #fbfbfb;
        width: 95%;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    button{
        width: 95%;
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: coral;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
        cursor: pointer;
    }

}
@media (min-width:600px)  {
    nav {
        position: static;
        margin: 0px auto;
        width: 100%;
        height: 58px;
        background-color: coral;
    }
    #formulario {
        margin: auto;
    }

    input{
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea{
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    button{
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: coral;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }

}
@media (min-width:801px)  {

    nav {
        position: static;
        margin: 0px auto;
        width: 100%;
        height: 58px;
        background-color: coral;
    }

    #formulario {
        margin-top: 7%;
    }

    input{
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea{
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    button{
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: coral;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }
}
@media (min-width:1025px) {

    nav {
        position: fixed;
        margin: 0px auto;
        width: 100%;
        height: 58px;
        background-color: coral;
    }

    input{
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea{
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    button{
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: coral;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }
}
@media (min-width:1281px) {

    nav {
        position: fixed;
        margin: 0px auto;
        width: 100%;
        height: 58px;
        background-color: coral;
    }

    input{
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    textarea{
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: coral;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    button{
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: coral;
        border-color: black;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }
}
